.explanation {
    width: inherit;
    height: 220px;
    background-color: transparent;
    background-image: linear-gradient(black, whitesmoke);
}

.explanation_hidden {
   display: none;
}

.explanation__title {
    display: inline-block;
    font-size: 34px;
    vertical-align: middle;
    margin-left: 42px;
}

.explanation_text {
    margin-left: 42px;
    margin-right: 42px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 16px;
    color: mintcream;
}

.explanation__text_title_one {
    color: #670810;
}

.explanation__text_title_two {
    color: #1b7400;
}

.explanation__text_title_three {
    color: rgba(25, 105, 191, 0.89);
}

